
<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript"
 src="https://static-cdn.kloudless.com/p/platform/sdk/kloudless.authenticator.v0.1.js"></script>

    <title>lil app</title>
<style>
 
@import url(https://fonts.googleapis.com/css?family=Alex+Brush|Pompiere);
body{
    text-align: center;
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
h1{
    font-family: 'Alex Brush', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
} 
p{
	font-family: Pompiere;
	font-weight: normal;
	color: black;
}

.greenify{
    color: #8ac640;
}
.prettyButton{
    font-family: Pompiere;
	font-size: 1em;
}
</style>
</head>

<body>
 <h1><img src="https://pbs.twimg.com/profile_images/433713344042647552/4im5MyCI.png" width="25" height="25">
 File Folder Finder.  
 <img src="https://pbs.twimg.com/profile_images/433713344042647552/4im5MyCI.png" width="25" height="25"></h1>
        <br><br>
       <p>Here is your {{ search }}.</p>

</body>
</html>
